src/CleanArchitecture/CleanArchitecture.Domain/obj/Debug/net8.0/CleanArchitecture.Domain.AssemblyInfo.cs
src/CleanArchitecture/CleanArchitecture.Domain/obj/Debug/net8.0/CleanArchitecture.Domain.AssemblyInfoInputs.cache
src/CleanArchitecture/CleanArchitecture.Domain/bin
src/CleanArchitecture/CleanArchitecture.Domain/obj
/.vs
/src/CleanArchitecture/CleanArchitecture.Application/bin/Debug/net8.0
/src/CleanArchitecture/CleanArchitecture.Application/obj

.fake
/CleanArchitecture.Infraestructure/obj
/Infraestructure/obj
/Architecture.Tests/bin/Debug/net8.0
/Architecture.Tests/obj/Debug/net8.0
/Architecture.Tests/obj
/CleanArchitecture.Infraestructure/bin/Debug/net8.0
